:host {
    background-color: #2B2D30FF;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: 6vw;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    color: slategrey;
}

.chat-pic {
    margin-left: 5px;
    height: 90%;
    border-radius: 50%;
    border: 1px solid slategrey;
}

.chat-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 5px;
    text-align: start;
}

.chat-name {
    margin: 0;
    font-size: 1.5vw;
}

.last-message {
    margin: 0;
    font-size: 1vw;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1100px) {
    .last-message {
        display: none;
    }
}
