:host {
    background-color: #2B2D30FF;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: clamp(60px, 5vw, 80px);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    color: slategrey;
    width: 100%;
}

.chat-pic {
    margin-left: 5px;
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid slategrey;
}

.chat-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    overflow: hidden;
}

.chat-info.unread{
    color: white;
    font-weight: bold;
}

.chat-name {
    margin: 0;
    font-size: 1rem;
}

.last-message {
    margin: 0;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1100px) {
    .last-message {
        display: none;
    }
}
