:host {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8c8c8;
    color: black;
}

input{
    height: 2rem;
    background-color: unset;
    border: unset;
    width: 100%;
}

input:focus{
    outline: none;
}

button{
    height: 100%;
    aspect-ratio: 1/1;
}
