:host {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: stretch;
    background-color: #1E1F22FF;
    color: white;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #1E1F22FF;
    width: clamp(250px, 20vw, 350px);
}

.chat-panel {
    background-color: #1E1F22FF;
    width: 100%;
}
