:host{
    background-color: #2B2D30FF;
    padding: 5px;
    border: 1px solid white;
    font-size: 1.2rem;
}

:host.self{
    background-color: slategrey;
    align-self: end;
    border-radius: 10px 0 10px 10px;
    color: black;
}

:host.other{
    background-color: #2B2D30FF;
    align-self: start;
    border-radius: 0 10px 10px 10px;
    color: white;
}

:host.self > .date{
    text-align: start;
    color: #202020;
}

:host.other > .date{
    text-align: end;
    color: #c8c8c8;
}

.text{

}
.date{
    padding-top: 3px;
    font-size: 0.7rem;
}

:host#last-msg{
    background-color: green;
}
